.quillRichText > p {
  margin-bottom: 5px;
  /* font-weight: lighter; */
  color: #363434;
  font-family: "Ubuntu", sans-serif;
}

.quillRichText > p > strong {
  margin-bottom: 5px;
  font-weight: bold;
  color: #363434;
  font-family: "Sofia Pro";
}
